{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row">
            <div class="col-12 welcome-msg">
                <h1 class="logo-font">
                    Welcome to <br> White Feather! 
                </h1>
                <br>
                <p class="logo-font">
                    Stockists of all things spiritual. If you are looking <br>
                    for something you do not see on our website, just <br> 
                    reach out and we will be happy to help! <br>
                    Happy shopping!
                </p>
                <h3>
                    Free delivery on orders over £{{ free_delivery_threshold}}!
                </h3>
                <div>
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-4 py-3 text-white text-uppercase">
                            Shop Now
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}