html {
    height: 100%;
}

body {
    background: url('/media/pexels-home.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


.logo-font {
    text-transform: uppercase;
    color: white;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #45364b;
    color: #b5c2b7;
    min-width: 260px;
}

.btn-num-5 {
    background: #45364b;
    color: #b5c2b7;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-num-5:hover,
.btn-num-5:active,
.btn-num-5:focus {
    background: #62466b;
    color: #b5c2b7;
}

.text-black {
    color: #000 !important;
}

.bg-num-5 {
    background-color: #45364b;
}

.bg-num-1 {
    background-color: #b5c2b7;
}

.border-num-5 {
    border: 1px solid #45364b !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #62466b;
    z-index: -1;
}

hr {
    border-color: #8c93ab;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}