<div class="col collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav">
        <li class="nav-item"><a href="{% url 'products' %}?category=tarot_cards,crystals_gems,books,accessories" class="dropdown-item">All Products</a></li>
        <li class="nav-item"><a href="{% url 'products' %}?category=accessories" class="dropdown-item">Accessories</a></li>
        <li class="nav-item"><a href="{% url 'products' %}?category=books" class="dropdown-item">Books</a></li>
        <li class="nav-item"><a href="{% url 'products' %}?category=crystals_gems" class="dropdown-item ">Crystals & Gems</a></li>
        <li class="nav-item"><a href="{% url 'products' %}?category=tarot_cards" class="dropdown-item">Tarot Cards</a></li> 
    </ul>
</div>

<div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
    <form action="{% url 'products' %}" method="GET">
        <div class="input-group w-100">
            <input type="text" name="q" placeholder="Search" class="form-control border-num-5 rounded-0">
            <div class="input-group-append">
                <button type="submit" class="form-control border border-num-5 rounded-0">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                </button>
            </div>
        </div>
    </form>
</div>