<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="our-shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Our Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="our-shop-link">
                <a href="" class="dropdown-item">Tarot Cards</a>
                <a href="" class="dropdown-item ">Crystals & Gems</a>
                <a href="" class="dropdown-item">Books</a>
                <a href="" class="dropdown-item">Accessories</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
    </ul>
</div>