{% extends "base.html" %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Title:</h3>
            <p class="text-white">{{data.blog_title}}</p>
            <br>
            <h3>Blog</h3>
            <p class="text-white">{{data.blog|safe}}</p>
            <br>
            <a class="text-info" href = "{% url 'blogs' %}">Go Back</a>
        </div>
    </div>

    <hr>

    <div class="row">
        <form method="post">
            {%csrf_token %}
            <H2> Comment Here</H2>
            {{form.as_p}}
            <input type ="submit" value="Comment">
        </form>
    </div>

    <hr>

    {%for comment in comments%}
    <div class="row">
        <div class="col white-container">
            <p class="text-dark">
                <strong>{{comment.your_name}}:</strong> 
                {{comment.comment_body}}
            </p>
        </div>
    </div>
    {%endfor %}

</div>
 

 
 

{% endblock %}
