{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col white-container">
            <h2 class="text-white">{{data.blog_title}}</h2>
            <br>
            <p class="text-white">{{data.blog|safe}}</p>
            <br>
            <a class="btn update-information-button" href = "{% url 'blogs' %}">Go Back</a>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-12 col-lg-6">
            <form method="post">
                {%csrf_token %}
                <h2 class="logo-font"> Comment Here</h2>
                {{ form|crispy }}
                <input class="btn update-information-button" type ="submit" value="Comment">
            </form>
            <br>
        </div>
    </div>

    <hr>

    {%for comment in comments%}
    <div class="row">
        <div class="col comment-box white-container">
            <p class="text-white">
                <strong>{{comment.your_name}}:</strong> 
                {{comment.comment_body}}
            </p>
        </div>
    </div>
    {%endfor %}

</div>
 

 
 

{% endblock %}
