{% extends "base.html" %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <form method="post">
                {%csrf_token %}
                    <h2 class="logo-font"> Browse Our Blogs</h2>
            </form>
            <hr> 
        </div>    
    </div>

    {% for data in dataset %}
        <div class="row">
            <div class="col white-container">
                <h3 class="blog-title text-white">{{data.blog_title}}</h3>
                <a class="btn update-information-button" href = "{% url 'blog' _id=data.id %}">Read Blog</a>
            </div>
        </div>
    {% endfor %}
</div>



{% endblock %}
