{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <!-- Font Awesome JS -->
        <script src="https://kit.fontawesome.com/05aaea7e8b.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <title>White Feather {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container">
                <div class="row">  
                    <div class="col-12">
                        <a class="navbar-brand" href="{% url 'home' %}">
                            <h2 class="logo-font"><strong>White</strong> <em>Feather</em></h2>
                        </a>
            
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
    
                        <div class="collapse navbar-collapse  justify-content-center" id="navbarTogglerDemo02">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'products' %}?category=tarot_cards,crystals_gems,books,accessories">All Products</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'products' %}?category=accessories">Accessories</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'products' %}?category=books">Books</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'products' %}?category=crystals_gems">Crystals & Gems</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'products' %}?category=tarot_cards">Tarot Cards</a>
                                </li>
    
                                <div class="nav-item dropdown">
                                    <button class="btn account-button dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Account
                                    </button>
                                    <ul class="dropdown-menu">
                                        {% if request.user.is_authenticated %}
                                            {% if request.user.is_superuser %}
                                            <li><a class="dropdown-item" href="{% url 'add_product' %}" class="dropdown-item">Product Management</a></li>
                                            {% endif %}
                                            <li><a class="dropdown-item" href="{% url 'profile' %}" class="dropdown-item">My Profile</a></li>
                                            <li><a class="dropdown-item" href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
                                        {% else %}
                                            <li><a class="dropdown-item" href="{% url 'account_signup' %}" class="dropdown-item">Register</a></li>
                                            <li><a class="dropdown-item" href="{% url 'account_login' %}" class="dropdown-item">Login</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
    
                                <li class="nav-item">
                                    <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-white{% endif %} nav-link" href="{% url 'view_bag' %}">
                                        <div>
                                            <p><i class="fas fa-shopping-bag fa-lg"></i>
                                            {% if grand_total %}
                                                £{{ grand_total|floatformat:2 }}
                                            {% else %}
                                                £0.00
                                            {% endif %}
                                            </p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
    
                            <form class="d-flex search-box" role="search" method="GET" action="{% url 'products' %}">
                                <input class="form-control me-2" type="text" placeholder="Search" name="q" aria-label="Search">
                                <button class="btn search-button" type="submit">Search</button>
                            </form>
                        </div>  
                    </div>  
                    
                </div>
            </div>
        </nav>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}




    {% block corejs %}
        <!-- jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js" 
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" 
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" 
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
        <!-- Stripe JS -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    {% block postloadjs %}
    <script>
        $(document).ready(function(){
          $('.toast').toast('show');
        });
        </script>
    {% endblock %}
</body>

</html>